@import "tailwindcss";


/* @keyframes horizontal-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-horizontal-spin {
  animation: horizontal-spin 8s linear infinite;
} */